@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900,900i');

@import './variables.scss';
@import './typography.scss';

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text;
}

.section-block-main {
  padding: 90px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
