<template>
  <footer class='footer-main'>
    <img src="./../assets/imgs/logo.png" alt="CAC Engenharia" class="footer-main-logo">
    <div class="footer-main-info">
      <a href="tel:xxxxxxxx" class="footer-phone">
        <icon name='whatsapp' color='#404040' />
        (31) XXXX-XXXX
      </a>
      <address class='footer-main-address'>
        Rua Gabriela de Melo, 351 - Bairro Olhos D’Água - Belo Horizonte / MG
      </address>
    </div>
  </footer>
</template>

<script>
import Icon from './icon'

export default {
  name: 'footer-main',
  components: { Icon },
}
</script>

<style lang='scss' scoped>
  @import './../assets/css/variables.scss';

  $container: 565px;

  .footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 53px 30px;
    text-align: center;
    .footer-main-logo {
      margin-bottom: 48px;
    }
    .footer-main-info {
      display: flex;
      align-items: center;
      color: $color-text-light;
      font-size: 16px;
      font-weight: 900;
      font-style: normal;
    }
    .footer-phone {
      margin-right: 40px;
      display: flex;
      align-items: center;
      color: $color-text-light;
      text-decoration: none;
      transition: opacity .3s ease;
      .icon {
        margin-right: 8px;
      }
      &:hover {
        opacity: .5;
      }
    }

    // Responsive design
    @media (max-width: 760px) {
      .footer-main-info {
        flex-direction: column;
      }
      .footer-phone {
        margin: 0 0 40px 0;
      }
    }
  }
</style>
