<template>
  <label for='' class='form-field-label' :class='{ focus: focus }'>
    <span class="form-field-title">{{ title }}</span>

    <input v-if='type != "textarea"' :value="value" :type='type' :required='required'
      class='form-field-input' @focus='focus = true' @blur='focus = false'
      @input='$emit("input", $event.target.value)'>

    <textarea v-else class='form-field-textarea'></textarea>
  </label>
</template>

<script>
export default {
  name: 'field-form',
  props: {
    title: {
      type: String,
      required: true
    },
    value: String,
    type: {
      tpye: String,
      default: 'text'
    },
    required: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      focus: false,
    };
  }
}
</script>

<style lang='scss' scoped>
  @import './../assets/css/variables.scss';

  .form-field-label {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    box-shadow: 0 1px 0 0 #DCDCDC;
    transition: box-shadow .3s ease;
    .form-field-title {
      flex: 1 0 auto;
      margin-right: 14px;
    }
    .form-field-input,
    .form-field-textarea {
      color: $white;
      flex: 0 1 auto;
      padding: 14px 10px 14px 0;
      background: none;
      border: 0;
      width: 100%;
      &:focus {
        outline: none;
      }
      &:-webkit-autofill {
        background: transparent;
        animation-name: autofill;
        animation-fill-mode: both;
      }
    }
    &.focus {
      box-shadow: 0 3px 0 0 white;
      .form-field-title {
        font-weight: 700;
      }
    }
  }
  @keyframes autofill {
    to {
      color: $white;
      background: transparent;
    }
  }
</style>

