<template>
  <section class='section-block-main form-contact'>
    <h1 class='section-main-title'>Adquira seu imóvel</h1>

    <div class="form-contact-description">
      <p><strong>Não perca a chance de construir seu futuro com a CAC - Engenharia!</strong></p>
      <p>Preencha o formulário abaixo, fale com um de nossos corretores e comece a planejar seu futuro hoje mesmo. <strong>É rápido e fácil!</strong></p>
    </div>

    <form class='form-contact-fields' @submit.prevent='sendMsg'>
      <form-field title='Nome' v-model='form.name' />
      <form-field title='E-mail' v-model='form.email' type='email' required />
      <form-field title='Telefone' v-model='form.phone' />
      <form-field title='Mensagem' v-model='form.msg' required />
      <v-button icon='arrow'>Enviar</v-button>
    </form>
  </section>
</template>

<script>
import formField from './form-field'
import vButton from './v-button'

export default {
  name: 'form-contact',
  components: { formField, vButton },
  data() {
    return {
      form: {
        name: 'Adriano Resende',
        email: '',
        phone: '',
        msg: ''
      }
    };
  },
  methods: {
    sendMsg() {
      alert('Enviado com sucesso!')
    }
  }
}
</script>

<style lang='scss' scoped>
  @import './../assets/css/variables.scss';

  $container: 565px;

  .form-contact {
    background-color: $orange;
    background-image: url(./../assets/imgs/bg-children.jpg);
    background-position: center right;
    background-size: cover;
    text-align: center;
    .section-main-title {
      color: $white;
      margin-bottom: 57px;
    }
    .form-contact-description {
      font-size: 18px;
      max-width: $container;
      margin-bottom: 68px;
      p {
        margin: 0;
        line-height: 32px;
      }
    }
    .form-contact-fields {
      max-width: $container;
      width: 100%;
      .button {
        margin: 50px auto 0;
      }
    }
  }
</style>
