<template>
  <div class="icon">
    <svg v-if='name === "arrow"' width='18px' :fill='color' height="26px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path fill-rule="evenodd" d="M17.866,12.610 C17.927,12.782 17.971,12.962 17.971,13.144 C17.971,13.596 17.805,14.103 17.362,14.442 L4.969,25.158 C4.250,25.778 3.254,25.665 2.646,24.933 C2.037,24.199 2.148,23.184 2.867,22.564 L11.702,14.837 L2.240,14.837 C1.355,14.837 0.580,14.047 0.580,13.144 C0.580,12.242 1.355,11.453 2.240,11.453 L11.918,11.453 L2.811,3.669 C2.148,2.992 2.037,1.977 2.590,1.301 C3.199,0.568 4.250,0.511 4.914,1.075 L16.993,11.622 C17.129,11.689 17.257,11.784 17.380,11.895 C17.417,11.912 17.441,11.928 17.473,11.960 C17.599,12.090 17.711,12.257 17.799,12.441 C17.826,12.496 17.846,12.553 17.866,12.610 Z"/>
    </svg>
    <svg v-if='name === "whatsapp"' :fill='color' width='33px' baseProfile="tiny" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path d="M-0.009,24l2.194-5.704c-1.242-1.919-1.896-4.14-1.896-6.435C0.289,5.32,5.609,0,12.149,0 c6.539,0,11.86,5.32,11.86,11.861c0,6.539-5.321,11.86-11.86,11.86c-2.231,0-4.401-0.627-6.291-1.813L-0.009,24z M5.967,20.974 l0.175,0.114c1.792,1.171,3.869,1.79,6.007,1.79c6.076,0,11.017-4.941,11.017-11.017S18.225,0.842,12.149,0.842       S1.131,5.785,1.131,11.861c0,2.202,0.648,4.328,1.874,6.149l0.123,0.182l-1.692,4.399L5.967,20.974z"/><path d="M15.135,17.749c-1.433,0-4.369-1.708-5.768-3.108c-1.251-1.251-3.107-4.224-3.107-5.767       c0-1.542,1.646-3.259,2.761-3.259h0.155l0.117,0.1c0.296,0.252,1.788,1.534,2.087,2.117c0.432,0.842-0.624,2.048-1.181,2.6       c0.249,0.314,0.815,0.986,1.603,1.774c0.743,0.744,1.649,1.145,2.07,1.305c0.366-0.36,1.113-1.003,1.796-1.003l0.1,0.011       l0.415,0.113c0.578,0.297,1.859,1.789,2.109,2.084l0.1,0.118v0.154C18.392,16.104,16.677,17.749,15.135,17.749z M8.886,6.474       c-0.666,0.16-1.785,1.385-1.785,2.4c0,1.275,1.731,4.042,2.861,5.172c1.364,1.364,4.071,2.861,5.173,2.861       c1.015,0,2.239-1.12,2.397-1.785c-0.561-0.65-1.373-1.521-1.697-1.722l-0.208-0.05c-0.336,0.035-0.928,0.488-1.326,0.927       l-0.179,0.196l-0.255-0.076c-0.155-0.046-1.546-0.483-2.661-1.597c-0.73-0.73-1.856-1.975-1.954-2.325l-0.071-0.251 l0.195-0.175c0.758-0.681,1.379-1.589,1.253-1.833C10.477,7.917,9.562,7.058,8.886,6.474z" />
    </svg>
  </div>
</template>

<script>
  export default {
    name: 'icon',
    props: {
      name: String,
      color: {
        type: String,
        default: 'white',
      }
    },
  }
</script>

<style lang="scss" scoped>
  .icon {
    display: inline-block;
    svg {
      display: block;
    }
  }
</style>
