<template>
  <section class='section-block-main team-business'>
    <h1 class='section-main-title'>Conheça quem conhece a CAC:</h1>
    <transition-group appear name='fade' class='team-peoples' tag='div' stagger='100'>
      <div class='team-people' v-for='(people, index) in team' :key='index'>
        <div class="team-avatar" :style='{ backgroundImage: avatarUrl(people.avatar) }'>
        </div>
        <h2 class="team-name">{{ people.name }}</h2>
        <p class="team-description">“{{ people.description }}”</p>
      </div>
    </transition-group>
  </section>
</template>

<script>
export default {
  name: 'team-business',
  data() {
    return {
      team: [
        { avatar: 'patricia.jpg', name: 'Patrícia Candeia', description: 'É a realização de um sonho adquirir minha casa e sair do aluguel. Estou muito feliz!' },
        { avatar: 'emerson.jpg', name: 'Emerson Rodrigues', description: 'Fiquei muito feliz, estava tudo lindo do jeito que eu imaginava.' },
        { avatar: 'nathalia.jpg', name: 'Nathália Evelyn', description: 'A qualidade do acabamento me surpreendeu muito. Além disso, o atendimento da CAC me tirou todas as dúvidas.' }
      ]
    };
  },
  methods: {
    avatarUrl(file) {
      const url = require(`./../assets/imgs/${file}`)
      return `url(${url})`
    }
  }
}
</script>

<style lang='scss' scoped>
  @import './../assets/css/variables.scss';

  .team-business {
    text-align: center;
    .section-main-title {
      margin-bottom: 87px;
    }
    .team-peoples {
      display: flex;
      margin: 0 -30px;
      text-align: center;
      .team-people {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 270px;
        margin: 0 30px;
      }
      .team-avatar {
        overflow: hidden;
        width: 150px;
        height: 150px;
        margin-bottom: 39px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
      }
      .team-name {
        font-size: 25px;
        font-style: italic;
        margin: 0 0 51px 0;
      }
      .team-description {
        font-size: 16px;
        line-height: 24px;
        color: $color-text-light;
        margin: 0;
      }
    }

    // Responsive design
    @media (max-width: 700px) {
      .team-peoples {
        flex-direction: column;
        .team-people:not(:last-child) {
          margin-bottom: 60px;
        }
        .team-name {
          margin-bottom: 25px;
        }
      }
    }
  }
</style>
