<template>
  <button class='button' type='submit'>
    <slot />
    <icon v-if='icon' :name='icon' />
  </button>
</template>

<script>
import Icon from './icon'

export default {
  name: 'v-button',
  components: { Icon },
  props: {
    icon: String,
  }
}
</script>

<style lang="scss" scoped>
  @import './../assets/css/variables.scss';

  .button {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    padding: 16px 20px 16px 12px;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 16px;
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    margin: 0 25px;
    transition: background-color .3s ease;
    .icon {
      position: absolute;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      right: -10px;
      transition: transform .3s ease;
    }
    &:hover {
      background-color: lighten($blue, 10);
      &:before {
        border-right-color: lighten($blue, 10);
      }
      &:after {
        border-left-color: lighten($blue, 10);
      }
      .icon {
        transform: translate(3px, -50%);
      }
    }
    &:before,
    &:after {
      content: " ";
      height: 0;
      width: 0;
      top: 50%;
      border: solid transparent;
      position: absolute;
      pointer-events: none;
      border-width: 25px;
      margin-top: -25px;
      transition: border-color .3s ease;
    }
    &:before {
      border-right-color: $blue;
      right: 100%;
    }
    &:after {
      left: 100%;
      border-left-color: $blue;
    }
  }
</style>
