<template>
  <div id="appMain">
    <team-business />
    <form-contact />
    <footer-main />
  </div>
</template>

<script>
import teamBusiness from './components/team-business'
import formContact from './components/form-contact'
import footerMain from './components/footer-main'

export default {
  name: 'App',
  components: { teamBusiness, formContact, footerMain }
}
</script>

<style lang="scss">
  @import './assets/css/global.scss';
</style>

